.gameboard {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
li {
  list-style: none;
  cursor: pointer;
  background-color: #eee;
}
li > img {
  width: 200px;
}
