.gameboard {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
li {
  list-style: none;
  min-width: 200px;
  min-height: 150px;
  background-color: lightblue;
}
