.header {
  display: flex;
  flex-direction: column;
}

.score {
  font-size: 2rem;
  color: green;
  display: flex;
  justify-content: space-between;
  text-decoration: underline;
}
h1 {
  line-height: 10px;
}
